#-------------------------------------------------------------------
# From the ansible control manager host, please make sure
# installed pyvmomi module for your ansible python env.
# - yum install python2-pip
#   (or python3-pip, depends on your python version used by ansible)
# - pip install PyVmomi
#-------------------------------------------------------------------

#--------------------------------------------
# Parameter to setup your helper/bastion vm
#--------------------------------------------
helper_vm:
  template: rh77-bastion
  hostname: mcminf  # The vmname/hostname can only support chars, do not use '-' or '_'
  public_network: VM Network
  public_nic: ens192
  public_ip: 9.112.238.111
  public_netmask: 255.255.255.0
  public_gateway : 9.112.238.1
  public_dnsdomain: cn.ibm.com
  public_dns1: 9.0.146.50
  public_dns2: 9.42.4.252
  private_nic: ens224
  private_ip: 10.0.2.101
  rootpassword: xxxxxxx
  memory_mb: 16384
  num_cpus: 8
  disksize: 200
  # if you do not want use http/https proxy, pls leave proxy_env blank
  # sample [proxy_env: http://9.23.111.71:3128/]
  proxy_env: http://xx.xx.xx.xx:8080/
  workdir: /root/ocp4-vsphere-automation
#--------------------------------------------

bootstrap_ignition_url: "http://{{helper_vm.private_ip}}:8080/ignition/bootstrap.ign"
config:
  provider: vsphere
  base_domain: example.com
  cluster_name: mcm
  fips: false
  pull_secret: {"auths":xxxxxx...}
vcenter:
  ip: xx.xx.xx.xx
  datastore: ds01
  network: DPortGroup  # The vsphere private network name for your ocp cluster
  service_account_username: Administrator@mmlab.cn.ibm.com  # If do not use the service account, keep it same as admin
  service_account_password: xxxxxx
  admin_username: Administrator@mmlab.cn.ibm.com
  admin_password: xxxxxx
  datacenter: dc01
  cluster: cls02
  resource_pool: pool1
  folder_absolute_path: "/dc01/vm/{{ config.cluster_name }}" # need input the datacenter actual string, here: "dc01"
  vm_power_state: poweredon
  template_name: rhcos # this parameter not used anymore, can be ignored, since we use static ip mode and will pull iso

download: # Change your ocp version here
  clients_url: https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.3.8
  dependencies_url: https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.3/4.3.8
  govc: https://github.com/vmware/govmomi/releases/download/v0.22.1/govc_linux_amd64.gz

# Becareful about the vm name, do not use existing vm name in your env. otherwise may lead existing vm poweroff
# If you need create the same vm name in different folder, you have to modify ansible/module_utils/vmware.py
# to set "if len(vms) >= 1", in my laptop the lib located in:
# /usr/local/Cellar/ansible/2.8.5/libexec/lib/python3.7/site-packages/ansible/module_utils
# An issue addressed: https://github.com/ansible/ansible/pull/60679
bootstrap_vms:
  - { name: "bootstrap", macaddr: "00:50:56:a8:aa:a1", ipaddr: "10.0.2.102"}
master_vms:
  - { name: "master0", macaddr: "00:50:56:a8:aa:a2", ipaddr: "10.0.2.110"}
  - { name: "master1", macaddr: "00:50:56:a8:aa:a3", ipaddr: "10.0.2.111"}
  - { name: "master2", macaddr: "00:50:56:a8:aa:a4", ipaddr: "10.0.2.112"}
worker_vms:
  - { name: "worker0", macaddr: "00:50:56:a8:aa:a5", ipaddr: "10.0.2.120"}
  - { name: "worker1", macaddr: "00:50:56:a8:aa:a6", ipaddr: "10.0.2.121"}
#  - { name: "worker2", macaddr: "00:50:56:a8:aa:a7", ipaddr: "10.0.2.122"}

hwconfig:
  bootstrap: {num_cpus: 4, memory_mb: 8192, size_gb: 50}
  master: {num_cpus: 4, memory_mb: 8192, size_gb: 100}
  worker: {num_cpus: 8, memory_mb: 8192, size_gb: 100}

static_ip:
  gateway: 10.0.2.1
  netmask: 255.255.255.0
  network_interface_name: ens192
proxy:
  enabled: true  # If your infra node is able to access internet and has fast network connection, set to false
  http_proxy: http://xx.xx.xx.xx:8080/
  https_proxy: http://xx.xx.xx.xx:8080/
  no_proxy: example.internal
  cert_content:

registry:
  enabled: false
  registry_image: docker.io/library/registry:2
  product_repo: openshift-release-dev
  product_release_name: ocp-release
  product_release_version: 4.4.10-x86_64
  username: ansible
  password: ansible
  email: user@awesome.org
  cert_content:
  host: "registry.{{ config.cluster_name }}.{{ config.base_domain }}"
  port: 5000
  repo: ocp4/openshift4
ntp:
  custom: false
  ntp_server_list:
    - 0.rhel.pool.ntp.org
    - 1.rhel.pool.ntp.org
