address=/apps.{{ config.cluster_name }}.{{ config.base_domain }}/{{ sno.ip }}
address=/api-int.{{ config.cluster_name }}.{{ config.base_domain }}/{{ sno.ip }}
address=/api.{{ config.cluster_name }}.{{ config.base_domain }}/{{ sno.ip }}
{%if sno.network == helper_vm.public_network %}
address=/registry.{{ config.cluster_name }}.{{ config.base_domain }}/{{ helper_vm.public_ip }}
{% else %}
address=/registry.{{ config.cluster_name }}.{{ config.base_domain }}/{{ helper.ipaddr }}
{% endif %}