address=/apps.{{ config.cluster_name }}.{{ config.base_domain }}/{{ sno.ip }}
address=/api-int.{{ config.cluster_name }}.{{ config.base_domain }}/{{ sno.ip }}
address=/api.{{ config.cluster_name }}.{{ config.base_domain }}/{{ sno.ip }}